@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #191919;
    color: white;
}

/*Navbar*/

.nav {
    align-items: center;
    background-color: #111111;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    position: absolute;
    width: 100%;
}

.nav .discord a {
    align-items: center;
    background: #404EED;
    border-radius: 20px;
    color: #fff;
    display: flex;
    padding: 10px 20px;
    text-decoration: none;
}

.nav .discord a img {
    padding: 0px 5px;
}

.nav .nav-header {
    display: inline;
}

.nav .nav-header .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav .nav-btn {
    display: none;
}

.nav .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav .nav-links a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav .nav-links a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav #nav-check {
    display: none;
}

@media (max-width:600px) {

    .nav .discord {
        padding-right: 20%;
    }

    .nav .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav .nav-btn label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav .nav-btn label:hover,
    .nav #nav-check:checked~.nav-btn label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav .nav-btn label span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #191919;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav .nav-links a {
        display: block;
        width: 100%;
    }

    .nav #nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav #nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

/*Catalogo*/

.cards {
    display: flex;
    padding: 100px 32px;
    justify-content: center;
    align-items: center;
}

.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #111111;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 468px;
    margin-left: 32px;
}

.cards section.card:first-child {
    margin-left: 0;
}

.cards section.card .icon {
    width: 64px;
    height: 64px;
}

.cards section.card img {
    width: 100%;
}

.cards section.card h3 {
    font-size: 100%;
    margin: 16px 0;
}

.cards section.card span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px;
}

.cards section.card button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px 0;
}

.cards section.card button {
    background: #191919;
}

.cards section.card {
    box-shadow: rgba(75, 75, 75, 0.35) 0px 5px 15px;
}

@media screen and (max-width: 720px) {
    .cards {
        flex-direction: column;
    }

    .cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
    }

    .cards section.card:last-child {
        margin-bottom: 0;
    }

    .cards section.card button {
        font-size: 70%;
    }

}

/*Apresentação*/

.ank {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em;
}

.ank img {
    width: 25%;
    padding: 1em;
}

.ank h1 {
    padding-top: 2em;
    font-size: 2.5rem;
}

.ank .discord-ank a {
    align-items: center;
    background: #404EED;
    border-radius: 20px;
    color: #fff;
    display: flex;
    padding: 10px 20px;
    text-decoration: none;
}

.ank .discord-ank a img {
    width: 50%;
    padding: 0px 5px;
}

/*Modal*/

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #191919;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.modal-content ul {
    list-style: none;
    text-align: left;
}

.modal .close-modal {
    opacity: 0;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.tutorial {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tutorial img {
    width: 65%;
    padding: 2em;
}